<h1 class="text-center">
  To Do List
  <span class="badge" id="badge">
      0
  </span>
</h1>

<div class="container">
  <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">
              事項清單
          </h3>
      </div>

      <!-- 新增 -->
      <div class="panel-body">
          <%= form_for @list, remote: true do |f| %>
          <div class="input-group">
            <%= f.text_area :title, :class => "form-control" %>
            <div class="input-group-addon">
            <%= f.submit "+", :class => " my-btn btn-primary glyphicon glyphicon-plus" %>
            </div>
          </div>
          <% end %>
      </div>

      <!-- 待辦清單 -->
      <table class="my-table table table-hover">
        <tbody id="list">
          <% @lists.each do |list| %>
            <tr  id="list-<%= list.id %>">
            <%= render :partial => "tr", :locals => { :list => list } %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
