<div class="container">
  <table class="table table-striped text-center">
    <tr>
      <td><%= "Task" + ": " +@list.title %></td>
    </tr>
    <tr>
      <td><%= "Due Date" + ": "+@list.date.to_s %></td>
     </tr>
    <tr>
      <td><%= simple_format(@list.description) %></td>
    </tr>
  </table>
  <div class="text-center">
    <button class="btn btn-default"  ><i class="fa fa-home fa-1x" aria-hidden="true"></i><%= link_to "Back to index", lists_path %></button>
    <button class="btn btn-default" ><%= link_to "Delete", list_path(@list),method: :delete, data:{ confirm: "Are you sure?" } %></button>
  </div>
</div>